<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
         bootstrap="src/bootstrap-phpunit.php"
         cacheResultFile="var/cache/phpunit"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Tests.php">src</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="var/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix="Tests.php">src</directory>
            <directory prefix="bootstrap-" suffix=".php">src</directory>
        </exclude>
        <report>
            <html outputDirectory="./var/coverage/"></html>
            <clover outputFile="var/clover.xml"></clover>
            <text outputFile="php://stdout" showOnlySummary="true"></text>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="unit_tests" force="true" />
    </php>
</phpunit>
